<footer>
  <div class="container-fluid footer-container fade-in">
    <div class="row footer_info">
      <div
        class="logo_container col-2 col-sm-2 d-flex align-items-center title"
      >
        <a routerLink="/">CLOUDY</a>
      </div>
      <div class="about_f_container col-5">
        <h4 class="mt-1 text-uppercase">
          About <span class="brand-name">CLOUDY</span>
        </h4>
        <ul class="f_menu">
          <li class="f_item text-uppercase">
            <a routerLink="/about">About Us</a>
          </li>
          <li class="f_item text-uppercase">
            <a routerLink="/about" fragment="branch">Branches</a>
          </li>
          <li class="f_item text-uppercase">
            <a routerLink="/about" fragment="Map">Site Map</a>
          </li>
          <li class="f_item text-uppercase">
            <a routerLink="/contact">contact us</a>
          </li>
          <!-- <li class="f_item text-uppercase">
            <a href="contact.php#reviews">Reviews</a>
          </li> -->
        </ul>
      </div>
      <div class="contact_f_container col-5">
        <h4 class="mt-1 text-uppercase">support</h4>
        <ul class="c_menu">
          <li><b class="text-uppercase">Email:</b> cloudypos&#64;gmail.com</li>
          <li><b class="text-uppercase">Phone:</b> (+95)0936852177</li>
          <li>
            <b class="text-uppercase">Address:</b> 72 - LOON ROAD, KALAW ,
            Myanmar
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div
        class="social_container col-12 d-flex align-items-center justify-content-center"
      >
        <a href="https://www.facebook.com/"
          ><i class="bi bi-facebook me-3"></i
        ></a>
        <a href="https://www.twitter.com/"
          ><i class="bi bi-twitter-x me-3"></i
        ></a>
        <a href="https://www.instagram.com/"
          ><i class="bi bi-instagram me-3"></i
        ></a>
        <a href="https://www.whatsapp.com/"
          ><i class="bi bi-whatsapp me-3"></i
        ></a>
      </div>
    </div>
    <div
      class="row copyright_container d-flex justify-content-between align-items-center"
    >
      <div class="col-6 col-sm-6">
        <p class="m-1">
          &copy;2025 <span class="brand-name">CLOUDY</span>.All Rights Reserved.
        </p>
      </div>
      <div class="privacy_container col-6 col-sm-6 d-flex justify-content-end">
        <a routerLink="/privacy" class="me-4"> Privacy Policy</a>
        <a routerLink="/terms">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
