<div class="static-wrapper">
  <section class="self-container">
    <h1 class="self-title" #selfTitle>Effortless Self-Checkout</h1>
    <div class="features-container">
      <div class="feature-item small-feature left-feature" #leftFeature>
        <img
          src="assets/undraw_shopping_a55o.svg"
          alt="Fast Checkout"
          class="feature-img"
        />
        <p class="feature-text">Scan and Pay in Seconds</p>
      </div>
      <div class="feature-item large-feature center-feature" #centerFeature>
        <img
          src="assets/db7f28daaf986fc1328c697ce9b02ce5.png"
          alt="User-Friendly"
          class="feature-img"
        />
        <p class="feature-text">Designed for Simplicity</p>
      </div>
      <div class="feature-item small-feature right-feature" #rightFeature>
        <img
          src="assets/paypal-33.svg"
          alt="Secure Payments"
          class="feature-img"
        />
        <p class="feature-text">Secure and Trusted Payments</p>
      </div>
    </div>
  </section>
</div>
