<div class="image-upload-dialog">
  <h2>Manage Product Images</h2>
  <div class="image-list" *ngIf="imageDetails.length > 0; else noImages">
    <!-- {{ imageDetails.length }} images -->
    <div *ngFor="let img of imageDetails" class="image-item">
      <img [src]="img.imgUrl" alt="Product Image" style="max-width: 100px" />
      <button
        mat-button
        color="primary"
        class="set-as-main"
        (click)="setMainImage(img.imgUrl)"
        [disabled]="img.main"
      >
        {{ img.main ? "Main Image" : "Set as Main" }}
      </button>
      <button mat-button class="delete" (click)="deleteImage(img.imgUrl)">
        Delete
      </button>
    </div>
  </div>
  <ng-template #noImages>
    <div class="no-images">No images available.</div>
  </ng-template>
  <div class="upload-section">
    <input
      type="file"
      multiple
      (change)="onFileChange($event)"
      accept="image/*"
    />
    <button
      mat-raised-button
      color="primary"
      (click)="uploadImages()"
      [disabled]="files.length === 0"
    >
      Upload Images
    </button>
  </div>
  <div class="actions">
    <button class="save_btn" mat-button (click)="save()">Save</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</div>
